{
	acme_ca https://{{ ca_hostname }}.{{ domain }}/acme/{{ acme_root }}/directory
	acme_ca_root {{ ca_cert_dest  }}
}

https://{{ caddy_hostname }}.{{ domain }} {
{% if caddy_mode == "php" %}
	encode gzip
	php_fastcgi 127.0.0.1:9000
  root * {{ webroot }}
	file_server
{% elif caddy_mode == "reverse_proxy" %}
	reverse_proxy localhost:{{ proxy_port }}  
{% else %}
  root * {{ webroot }}
	file_server {
		browse
	}
{% endif %}

	log {
		format json
		output file /var/log/caddy/caddy.json
	}
}
