{
	acme_ca https://{{ ca_hostname }}.{{ domain }}/acme/{{ acme_root }}/directory
	acme_ca_root {{ ca_cert_dest  }}
}

https://{{ caddy_hostname }}.{{ domain }} {
	encode gzip
	php_fastcgi 127.0.0.1:9000
  root * {{ webroot }}

	log {
		format json
		output file /var/log/caddy/caddy.json
	}
}
