*/packer_cache/*
*/output-*
*.iso
*.swp
*.terraform*
Ansible/my-playbooks/
Terraform/*/terraform.tfstate*
Terraform/*/terraform-plugin-proxmox.log
Terraform/*/*/terraform.tfstate*
Terraform/*/*/terraform-plugin-proxmox.log
my-stuff/
