*/packer_cache/*
*/output-*
*.iso
*.swp
*.terraform*
Ansible/inventory.yml
./Terraform/*/terraform.tfstate*
./Terraform/*/terraform-plugin-proxmox.log
./Terraform/*/*/terraform.tfstate*
./Terraform/*/*/terraform-plugin-proxmox.log
./Terraform/my-plans/*
