[WinEventLog://Security]
disabled = 0
start_from = oldest
index = winevent
sourcetype = WinEventLog

[WinEventLog://System]
disabled = 0
start_from = oldest
index = winevent
sourcetype = WinEventLog

[WinEventLog://Microsoft-Windows-PowerShell/Operational]
disabled = 0
start_from = oldest
index = winevent
sourcetype = WinEventLog

[WinEventLog://Microsoft-Windows-Sysmon/Operational]
disabled = 0
start_from = oldest
index = winevent
sourcetype = WinEventLog