---
- name: Reboot to confirm hostname
  ansible.windows.win_reboot:
    msg: "Rebooting to confirm name change"
  when: ansible_facts["os_family"] == "Windows"

- name: Install Agent on Windows
  args:
    chdir: C:\Users\{{ ansible_user }}\Downloads
  ansible.windows.win_powershell:
    script: |
      $ProgressPreference = 'Continue'
      Invoke-WebRequest -Uri https://artifacts.elastic.co/downloads/beats/elastic-agent/elastic-agent-{{ agent_version }}-windows-x86_64.zip -OutFile elastic-agent-{{ agent_version }}-windows-x86_64.zip
      Expand-Archive .\elastic-agent-{{ agent_version }}-windows-x86_64.zip -DestinationPath .
      cd elastic-agent-8.4.1-windows-x86_64
      .\elastic-agent.exe install --url=https://{{ seclab_siem_ip }}:8220 -i -n -f --enrollment-token={{ enrollment_token }}
      cd ..
      Remove-Item -Path .\elastic-agent-{{ agent_version }}-windows-x86_64 -Recurse -Force
  when: ansible_facts["os_family"] == "Windows"

- name: Download Linux Agent
  ansible.builtin.get_url:
    url: "https://artifacts.elastic.co/downloads/beats/elastic-agent/elastic-agent-{{ agent_version }}-linux-x86_64.tar.gz"
    dest: /tmp/agent.tar.gz
  when: ansible_facts["os_family"] == "Ubuntu" or ansible_facts["os_family"] == "Debian"

- name: Extract Linux Agent
  ansible.builtin.unarchive:
    src: /tmp/agent.tar.gz
    dest: /tmp
    remote_src: true
  when: ansible_facts["os_family"] == "Ubuntu" or ansible_facts["os_family"] == "Debian"

- name: Install Linux Agent
  vars:
    ansible_become_pass: "{{ ansible_password }}"
  ansible.builtin.shell: 
    cmd: /tmp/elastic-agent-{{ agent_version }}-linux-x86_64/elastic-agent install -i -n -f --url=https://{{ siem_ip }}:8220 --enrollment-token={{ enrollment_token }}
  become: true
  when: ansible_facts["os_family"] == "Ubuntu" or ansible_facts["os_family"] == "Debian"

- name: Remove Linux install files
  ansible.builtin.file:
    path: /tmp/elastic-agent-{{ agent_version }}-linux-x86_64
  when: ansible_facts["os_family"] == "Ubuntu" or ansible_facts["os_family"] == "Debian"
