subnet {{ dhcp_subnet }} {{ dhcp_netmask }}  {
    range {{ dhcp_pool_start }} {{ dhcp_pool_end }};
    option routers {{ dhcp_routers }};
    option domain-name "{{ dhcp_domain_name }}";
    option domain-search "{{ dhcp_domain_name }}";
    {% if dhcp_nameservers is string %}
    option domain-name-servers {{ dhcp_nameservers }};
    {% else %}
    option domain-name-servers {{ dhcp_nameservers|join(', ') }};
    {% endif %}
}